# --- Base Python Libraries ---

pytest
pytest-cov
pre-commit

# --- Core ML/DL Libraries ---
torch
pytorch-lightning
transformers
datasets

# --- Common Data Science & Utility Libraries ---
ipykernel
pandas
scikit-learn
tqdm
matplotlib
seaborn
plotly
